# Preparação do ambiente

In [27]:
import pandas as pd

caminho_1T2024 =  r"C:\dev\processo_seletivo_intuitivecare\datasets\demonstracoes_contabeis_2024\1T2024.zip"
caminho_2T2024 = r"C:\dev\processo_seletivo_intuitivecare\datasets\demonstracoes_contabeis_2024\2T2024.zip"
caminho_3T2024 = r"C:\dev\processo_seletivo_intuitivecare\datasets\demonstracoes_contabeis_2024\3T2024.zip"

# Exploração dos datasets

In [28]:
df_1T2024 = pd.read_csv(caminho_1T2024, sep=';')
df_2T2024 = pd.read_csv(caminho_2T2024, sep=';')
df_3T2024 = pd.read_csv(caminho_3T2024, sep=';')

### df_1T2024

In [29]:
df_1T2024.head(2)

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL
0,2024-01-01,356476,463919,Outras Despesas com Localização e Funcionamento,0,"91066,19"
1,2024-01-01,356476,46391901,Outras Despesas com Localização e Funcionamento,0,"91066,19"

In [30]:
df_1T2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689695 entries, 0 to 689694
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DATA               689695 non-null  object
 1   REG_ANS            689695 non-null  int64
 2   CD_CONTA_CONTABIL  689695 non-null  int64
 3   DESCRICAO          689695 non-null  object
 4   VL_SALDO_INICIAL   689695 non-null  object
 5   VL_SALDO_FINAL     689695 non-null  object
dtypes: int64(2), object(4)
memory usage: 31.6+ MB

### df_2T2024

In [31]:
df_2T2024.head(2)

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL
0,2024-04-01,335100,441919119,(-) Reversão da Prov. Sobre Contraprest. Pecun...,0,"-404304,78"
1,2024-04-01,335100,44191912,Provisão Sobre Demais Créditos de Operações de...,185369,"533624,98"

In [32]:
df_2T2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708106 entries, 0 to 708105
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DATA               708106 non-null  object
 1   REG_ANS            708106 non-null  int64
 2   CD_CONTA_CONTABIL  708106 non-null  int64
 3   DESCRICAO          708106 non-null  object
 4   VL_SALDO_INICIAL   708106 non-null  object
 5   VL_SALDO_FINAL     708106 non-null  object
dtypes: int64(2), object(4)
memory usage: 32.4+ MB

### df_3T2024

In [33]:
df_3T2024.head(2)

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL
0,2024-07-01,325031,21621901,Retenções de Imposto e Contribuições,"646849,11","635100,55"
1,2024-07-01,325031,216219011,Imposto de Renda Retido na Fonte - de Funcioná...,"47344,81","45741,28"

In [34]:
df_3T2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721821 entries, 0 to 721820
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DATA               721821 non-null  object
 1   REG_ANS            721821 non-null  int64
 2   CD_CONTA_CONTABIL  721821 non-null  int64
 3   DESCRICAO          721821 non-null  object
 4   VL_SALDO_INICIAL   721821 non-null  object
 5   VL_SALDO_FINAL     721821 non-null  object
dtypes: int64(2), object(4)
memory usage: 33.0+ MB

# Alterar o separador décimal das colunas: *VL_SALDO_INICIAL* e *VL_SALDO_FINAL*

In [35]:
df_1T2024['VL_SALDO_INICIAL'] = df_1T2024['VL_SALDO_INICIAL'].str.replace(',', '.').astype(float)
df_1T2024['VL_SALDO_FINAL'] = df_1T2024['VL_SALDO_FINAL'].str.replace(',', '.').astype(float)

In [36]:
df_2T2024['VL_SALDO_INICIAL'] = df_2T2024['VL_SALDO_INICIAL'].str.replace(',', '.').astype(float)
df_2T2024['VL_SALDO_FINAL'] = df_2T2024['VL_SALDO_FINAL'].str.replace(',', '.').astype(float)

In [37]:
df_3T2024['VL_SALDO_INICIAL'] = df_3T2024['VL_SALDO_INICIAL'].str.replace(',', '.').astype(float)
df_3T2024['VL_SALDO_FINAL'] = df_3T2024['VL_SALDO_FINAL'].str.replace(',', '.').astype(float)

In [38]:
df_1T2024.head(2)

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL
0,2024-01-01,356476,463919,Outras Despesas com Localização e Funcionamento,0.0,91066.19
1,2024-01-01,356476,46391901,Outras Despesas com Localização e Funcionamento,0.0,91066.19

In [39]:
df_2T2024.head(2)

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL
0,2024-04-01,335100,441919119,(-) Reversão da Prov. Sobre Contraprest. Pecun...,0.0,-404304.78
1,2024-04-01,335100,44191912,Provisão Sobre Demais Créditos de Operações de...,185369.0,533624.98

In [40]:
df_3T2024.head(2)

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL
0,2024-07-01,325031,21621901,Retenções de Imposto e Contribuições,646849.11,635100.55
1,2024-07-01,325031,216219011,Imposto de Renda Retido na Fonte - de Funcioná...,47344.81,45741.28

# Remover espaços em branco

In [43]:
df_1T2024['DESCRICAO'] = df_1T2024['DESCRICAO'].str.strip()
df_2T2024['DESCRICAO'] = df_2T2024['DESCRICAO'].str.strip()
df_3T2024['DESCRICAO'] = df_3T2024['DESCRICAO'].str.strip()

# Concatenar os datasets

In [50]:
df_demonstracoes_contabeis_2024_v1 = pd.concat([df_1T2024, df_2T2024, df_3T2024], ignore_index=True)

In [51]:
df_demonstracoes_contabeis_2024_v1

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL
0,2024-01-01,356476,463919,Outras Despesas com Localização e Funcionamento,0.00,91066.19
1,2024-01-01,356476,46391901,Outras Despesas com Localização e Funcionamento,0.00,91066.19
2,2024-01-01,356476,463919011,Despesas com Expediente,0.00,34059.68
3,2024-01-01,356476,463919012,Despesas com Seguros,0.00,342.47
4,2024-01-01,356476,463919013,Despesas com Locomoção,0.00,21801.81
...,...,...,...,...,...,...
2119617,2024-07-01,348261,441919011,Provisão Sobre Contraprest. Pecuniárias/Prêmio...,254730.74,299866.25
2119618,2024-07-01,348261,441919019,(-) Reversão da Prov. Sobre Contraprest. Pecun...,-110906.67,-113750.64
2119619,2024-07-01,348261,44191902,Provisão Sobre Demais Créditos de Operações de...,33198.73,43349.83
2119620,2024-07-01,348261,441919021,Provisão Sobre Demais Créditos de Operações de...,39503.13,52421.76
2119621,2024-07-01,348261,441919029,(-) reversão da Provisão Sobre Demais Créditos...,-6304.40,-9071.93

# Adicionar a coluna trimestre

In [52]:
mapeamento_data_trimestre = {
    "2024-01-01": "primeiro trimestre",
    "2024-04-01": "segundo trimestre",
    "2024-07-01": "terceiro trimestre"
}

df_demonstracoes_contabeis_2024_v1["TRIMESTRE"] = df_demonstracoes_contabeis_2024_v1["DATA"].map(mapeamento_data_trimestre)

In [53]:
df_filtrado_primeiro_trimestre =  df_demonstracoes_contabeis_2024_v1[df_demonstracoes_contabeis_2024_v1['DATA'] == '2024-01-01']
df_filtrado_primeiro_trimestre.head(2)

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL,TRIMESTRE
0,2024-01-01,356476,463919,Outras Despesas com Localização e Funcionamento,0.0,91066.19,primeiro trimestre
1,2024-01-01,356476,46391901,Outras Despesas com Localização e Funcionamento,0.0,91066.19,primeiro trimestre

In [54]:
df_filtrado_segundo_trimestre =  df_demonstracoes_contabeis_2024_v1[df_demonstracoes_contabeis_2024_v1['DATA'] == '2024-04-01']
df_filtrado_segundo_trimestre.head(2)

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL,TRIMESTRE
689695,2024-04-01,335100,441919119,(-) Reversão da Prov. Sobre Contraprest. Pecun...,0.0,-404304.78,segundo trimestre
689696,2024-04-01,335100,44191912,Provisão Sobre Demais Créditos de Operações de...,185369.0,533624.98,segundo trimestre

In [55]:
df_filtrado_terceiro_trimestre =  df_demonstracoes_contabeis_2024_v1[df_demonstracoes_contabeis_2024_v1['DATA'] == '2024-07-01']
df_filtrado_terceiro_trimestre.head(2)

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL,TRIMESTRE
1397801,2024-07-01,325031,21621901,Retenções de Imposto e Contribuições,646849.11,635100.55,terceiro trimestre
1397802,2024-07-01,325031,216219011,Imposto de Renda Retido na Fonte - de Funcioná...,47344.81,45741.28,terceiro trimestre

# Salvar o csv

In [60]:
df_demonstracoes_contabeis_2024_v1.to_csv('df_demonstracoes_contabeis_2024_v1.csv', index=False, sep=";")